In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Data-Collisions.csv')

E:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
data.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
data.describe()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,INTKEY,SEVERITYCODE.1,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,SDOT_COLCODE,SDOTCOLNUM,SEGLANEKEY,CROSSWALKKEY
count,194673.000000,189339.000000,189339.000000,194673.000000,194673.000000,194673.000000,65070.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,194673.000000,1.149360e+05,194673.000000,1.946730e+05
mean,1.298901,-122.330518,47.619543,108479.364930,141091.456350,141298.811381,37558.450576,1.298901,2.444427,0.037139,0.028391,1.920780,13.867768,7.972521e+06,269.401114,9.782452e+03
std,0.457778,0.029976,0.056157,62649.722558,86634.402737,86986.542110,51745.990273,0.457778,1.345929,0.198150,0.167413,0.631047,6.868755,2.553533e+06,3315.776055,7.226926e+04
min,1.000000,-122.419091,47.495573,1.000000,1001.000000,1001.000000,23807.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.007024e+06,0.000000,0.000000e+00
25%,1.000000,-122.348673,47.575956,54267.000000,70383.000000,70383.000000,28667.000000,1.000000,2.000000,0.000000,0.000000,2.000000,11.000000,6.040015e+06,0.000000,0.000000e+00
50%,1.000000,-122.330224,47.615369,106912.000000,123363.000000,123363.000000,29973.000000,1.000000,2.000000,0.000000,0.000000,2.000000,13.000000,8.023022e+06,0.000000,0.000000e+00
75%,2.000000,-122.311937,47.663664,162272.000000,203319.000000,203459.000000,33973.000000,2.000000,3.000000,0.000000,0.000000,2.000000,14.000000,1.015501e+07,0.000000,0.000000e+00
max,2.000000,-122.238949,47.734142,219547.000000,331454.000000,332954.000000,757580.000000,2.000000,81.000000,6.000000,2.000000,12.000000,69.000000,1.307202e+07,525241.000000,5.239700e+06

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194673 entries, 0 to 194672
Data columns (total 38 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEVERITYCODE    194673 non-null  int64
 1   X               189339 non-null  float64
 2   Y               189339 non-null  float64
 3   OBJECTID        194673 non-null  int64
 4   INCKEY          194673 non-null  int64
 5   COLDETKEY       194673 non-null  int64
 6   REPORTNO        194673 non-null  object
 7   STATUS          194673 non-null  object
 8   ADDRTYPE        192747 non-null  object
 9   INTKEY          65070 non-null   float64
 10  LOCATION        191996 non-null  object
 11  EXCEPTRSNCODE   84811 non-null   object
 12  EXCEPTRSNDESC   5638 non-null    object
 13  SEVERITYCODE.1  194673 non-null  int64
 14  SEVERITYDESC    194673 non-null  object
 15  COLLISIONTYPE   189769 non-null  object
 16  PERSONCOUNT     194673 non-null  int64
 17  PEDCOUNT        194673 non-null  int64
 18  PEDCYLCOUNT     194673 non-null  int64
 19  VEHCOUNT        194673 non-null  int64
 20  INCDATE         194673 non-null  object
 21  INCDTTM         194673 non-null  object
 22  JUNCTIONTYPE    188344 non-null  object
 23  SDOT_COLCODE    194673 non-null  int64
 24  SDOT_COLDESC    194673 non-null  object
 25  INATTENTIONIND  29805 non-null   object
 26  UNDERINFL       189789 non-null  object
 27  WEATHER         189592 non-null  object
 28  ROADCOND        189661 non-null  object
 29  LIGHTCOND       189503 non-null  object
 30  PEDROWNOTGRNT   4667 non-null    object
 31  SDOTCOLNUM      114936 non-null  float64
 32  SPEEDING        9333 non-null    object
 33  ST_COLCODE      194655 non-null  object
 34  ST_COLDESC      189769 non-null  object
 35  SEGLANEKEY      194673 non-null  int64
 36  CROSSWALKKEY    194673 non-null  int64
 37  HITPARKEDCAR    194673 non-null  object
dtypes: float64(4), int64(12), object(22)
memory usage: 56.4+ MB

In [6]:
data.LOCATION

0                              5TH AVE NE AND NE 103RD ST
1              AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N
2             4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST
3                2ND AVE BETWEEN MARION ST AND MADISON ST
4                         SWIFT AVE S AND SWIFT AV OFF RP
                               ...
194668    34TH AVE S BETWEEN S DAKOTA ST AND S GENESEE ST
194669       AURORA AVE N BETWEEN N 85TH ST AND N 86TH ST
194670                         20TH AVE NE AND NE 75TH ST
194671                      GREENWOOD AVE N AND N 68TH ST
194672       34TH AVE BETWEEN E MARION ST AND E SPRING ST
Name: LOCATION, Length: 194673, dtype: object

In [7]:
data.iloc[1]

SEVERITYCODE                                                      1
X                                                       -122.347294
Y                                                         47.647172
OBJECTID                                                          2
INCKEY                                                        52200
COLDETKEY                                                     52200
REPORTNO                                                    2607959
STATUS                                                      Matched
ADDRTYPE                                                      Block
INTKEY                                                          NaN
LOCATION                 AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N
EXCEPTRSNCODE                                                   NaN
EXCEPTRSNDESC                                                   NaN
SEVERITYCODE.1                                                    1
SEVERITYDESC                         Property Damage Only Collision
COLLISIONTYPE                                             Sideswipe
PERSONCOUNT                                                       2
PEDCOUNT                                                          0
PEDCYLCOUNT                                                       0
VEHCOUNT                                                          2
INCDATE                                      2006/12/20 00:00:00+00
INCDTTM                                       12/20/2006 6:55:00 PM
JUNCTIONTYPE                Mid-Block (not related to intersection)
SDOT_COLCODE                                                     16
SDOT_COLDESC      MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...
INATTENTIONIND                                                  NaN
UNDERINFL                                                         0
WEATHER                                                     Raining
ROADCOND                                                        Wet
LIGHTCOND                                   Dark - Street Lights On
PEDROWNOTGRNT                                                   NaN
SDOTCOLNUM                                                6354039.0
SPEEDING                                                        NaN
ST_COLCODE                                                       11
ST_COLDESC        From same direction - both going straight - bo...
SEGLANEKEY                                                        0
CROSSWALKKEY                                                      0
HITPARKEDCAR                                                      N
Name: 1, dtype: object

In [8]:
def missingDataPerFeature(data) :
    missing_data = data.isnull().sum()
    missing_data_percentage = missing_data.apply(lambda x : x/data.shape[0]*100)
    return missing_data_percentage

In [9]:
missing_data = data.isnull().sum()

In [10]:
missing_data_percentage = missing_data.apply(lambda x : x/data.shape[0]*100)

In [11]:
cols_to_drop = missing_data_percentage[missing_data_percentage > 50].index.to_list()

In [12]:
data = data.drop(columns=cols_to_drop, axis=1)

In [13]:
data.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,LOCATION,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SDOTCOLNUM,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,5TH AVE NE AND NE 103RD ST,...,N,Overcast,Wet,Daylight,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,...,0,Raining,Wet,Dark - Street Lights On,6354039.0,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,...,0,Overcast,Dry,Daylight,4323031.0,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,...,N,Clear,Dry,Daylight,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,...,0,Raining,Wet,Daylight,4028032.0,10,Entering at angle,0,0,N

In [14]:
data.INCKEY.nunique()

194673

In [15]:
data.COLDETKEY.nunique()

194673

In [16]:
data.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'LOCATION', 'SEVERITYCODE.1', 'SEVERITYDESC',
       'COLLISIONTYPE', 'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT',
       'INCDATE', 'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SDOTCOLNUM',
       'ST_COLCODE', 'ST_COLDESC', 'SEGLANEKEY', 'CROSSWALKKEY',
       'HITPARKEDCAR'],
      dtype='object')

In [17]:
data.OBJECTID.nunique()

194673

In [18]:
for col in data.columns :
    print(f"{col} : {data[col].nunique()}")

SEVERITYCODE : 2
X : 23563
Y : 23839
OBJECTID : 194673
INCKEY : 194673
COLDETKEY : 194673
REPORTNO : 194670
STATUS : 2
ADDRTYPE : 3
LOCATION : 24102
SEVERITYCODE.1 : 2
SEVERITYDESC : 2
COLLISIONTYPE : 10
PERSONCOUNT : 47
PEDCOUNT : 7
PEDCYLCOUNT : 3
VEHCOUNT : 13
INCDATE : 5985
INCDTTM : 162058
JUNCTIONTYPE : 7
SDOT_COLCODE : 39
SDOT_COLDESC : 39
UNDERINFL : 4
WEATHER : 11
ROADCOND : 9
LIGHTCOND : 9
SDOTCOLNUM : 114932
ST_COLCODE : 115
ST_COLDESC : 62
SEGLANEKEY : 1955
CROSSWALKKEY : 2198
HITPARKEDCAR : 2

In [19]:
data = data.drop(columns=["OBJECTID", "INCKEY", "COLDETKEY", "REPORTNO"], axis=1)

In [20]:
data.head()

,SEVERITYCODE,X,Y,STATUS,ADDRTYPE,LOCATION,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,...,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SDOTCOLNUM,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,Matched,Intersection,5TH AVE NE AND NE 103RD ST,2,Injury Collision,Angles,2,...,N,Overcast,Wet,Daylight,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,1,Property Damage Only Collision,Sideswipe,2,...,0,Raining,Wet,Dark - Street Lights On,6354039.0,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,1,Property Damage Only Collision,Parked Car,4,...,0,Overcast,Dry,Daylight,4323031.0,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,1,Property Damage Only Collision,Other,3,...,N,Clear,Dry,Daylight,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,2,Injury Collision,Angles,2,...,0,Raining,Wet,Daylight,4028032.0,10,Entering at angle,0,0,N

In [21]:
missingDataPerFeature(data)

SEVERITYCODE       0.000000
X                  2.739979
Y                  2.739979
STATUS             0.000000
ADDRTYPE           0.989351
LOCATION           1.375126
SEVERITYCODE.1     0.000000
SEVERITYDESC       0.000000
COLLISIONTYPE      2.519096
PERSONCOUNT        0.000000
PEDCOUNT           0.000000
PEDCYLCOUNT        0.000000
VEHCOUNT           0.000000
INCDATE            0.000000
INCDTTM            0.000000
JUNCTIONTYPE       3.251093
SDOT_COLCODE       0.000000
SDOT_COLDESC       0.000000
UNDERINFL          2.508822
WEATHER            2.610018
ROADCOND           2.574574
LIGHTCOND          2.655736
SDOTCOLNUM        40.959455
ST_COLCODE         0.009246
ST_COLDESC         2.519096
SEGLANEKEY         0.000000
CROSSWALKKEY       0.000000
HITPARKEDCAR       0.000000
dtype: float64

In [22]:
data.SDOTCOLNUM.nunique()

114932

In [23]:
data.SDOTCOLNUM.isnull().sum()

79737

In [24]:
data.SDOTCOLNUM.isnull().sum() + data.SDOTCOLNUM.nunique()

194669

In [25]:
data = data.drop(columns=["SDOTCOLNUM"], axis=1)

In [26]:
missingDataPerFeature(data)

SEVERITYCODE      0.000000
X                 2.739979
Y                 2.739979
STATUS            0.000000
ADDRTYPE          0.989351
LOCATION          1.375126
SEVERITYCODE.1    0.000000
SEVERITYDESC      0.000000
COLLISIONTYPE     2.519096
PERSONCOUNT       0.000000
PEDCOUNT          0.000000
PEDCYLCOUNT       0.000000
VEHCOUNT          0.000000
INCDATE           0.000000
INCDTTM           0.000000
JUNCTIONTYPE      3.251093
SDOT_COLCODE      0.000000
SDOT_COLDESC      0.000000
UNDERINFL         2.508822
WEATHER           2.610018
ROADCOND          2.574574
LIGHTCOND         2.655736
ST_COLCODE        0.009246
ST_COLDESC        2.519096
SEGLANEKEY        0.000000
CROSSWALKKEY      0.000000
HITPARKEDCAR      0.000000
dtype: float64

In [27]:
data[data["SEVERITYCODE.1"] == data.SEVERITYCODE].shape

(194673, 27)

In [28]:
data = data.drop(columns=["SEVERITYCODE.1"],axis=1)

In [29]:
data.head()

,SEVERITYCODE,X,Y,STATUS,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,...,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,Matched,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Overcast,Wet,Daylight,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",0,Raining,Wet,Dark - Street Lights On,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,4,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",0,Overcast,Dry,Daylight,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,3,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry,Daylight,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",0,Raining,Wet,Daylight,10,Entering at angle,0,0,N

In [30]:
data = data.dropna(subset=["X","Y"])

In [31]:
missingDataPerFeature(data)

SEVERITYCODE     0.000000
X                0.000000
Y                0.000000
STATUS           0.000000
ADDRTYPE         0.000000
LOCATION         0.000000
SEVERITYDESC     0.000000
COLLISIONTYPE    2.512425
PERSONCOUNT      0.000000
PEDCOUNT         0.000000
PEDCYLCOUNT      0.000000
VEHCOUNT         0.000000
INCDATE          0.000000
INCDTTM          0.000000
JUNCTIONTYPE     2.214546
SDOT_COLCODE     0.000000
SDOT_COLDESC     0.000000
UNDERINFL        2.501862
WEATHER          2.601155
ROADCOND         2.565768
LIGHTCOND        2.647104
ST_COLCODE       0.009507
ST_COLDESC       2.512425
SEGLANEKEY       0.000000
CROSSWALKKEY     0.000000
HITPARKEDCAR     0.000000
dtype: float64

In [32]:
data[data.COLLISIONTYPE.isnull()][["COLLISIONTYPE","SEVERITYDESC"]]

       COLLISIONTYPE                    SEVERITYDESC
15               NaN  Property Damage Only Collision
36               NaN  Property Damage Only Collision
53               NaN                Injury Collision
60               NaN  Property Damage Only Collision
75               NaN  Property Damage Only Collision
...              ...                             ...
194620           NaN  Property Damage Only Collision
194625           NaN  Property Damage Only Collision
194646           NaN  Property Damage Only Collision
194654           NaN  Property Damage Only Collision
194655           NaN                Injury Collision

[4757 rows x 2 columns]

In [40]:
sample_data = data[["COLLISIONTYPE","SEVERITYDESC","SDOT_COLDESC"]].sample(50)

In [34]:
data.shape

(189339, 26)

In [35]:
data.dropna().shape

(180067, 26)

In [36]:
# data = data.dropna()

In [37]:
data.head()

,SEVERITYCODE,X,Y,STATUS,ADDRTYPE,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,...,SDOT_COLDESC,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,Matched,Intersection,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Overcast,Wet,Daylight,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,Matched,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",0,Raining,Wet,Dark - Street Lights On,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,Matched,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,4,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",0,Overcast,Dry,Daylight,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,Matched,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,3,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",N,Clear,Dry,Daylight,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,Matched,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,2,0,...,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",0,Raining,Wet,Daylight,10,Entering at angle,0,0,N